<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControleDeHotel.Properties.Settings.Hotel_UirapuruConnectionString"
            connectionString="Data Source=brauliodev\sqlexpress;Initial Catalog=Hotel_Uirapuru;Persist Security Info=True;User ID=sa;Password=Pal@1010"
            providerName="System.Data.SqlClient" />
        <add name="ControleDeHotel.Properties.Settings.SisHotelConnectionString"
            connectionString="Data Source=brauliodev\sqlexpress;Initial Catalog=SisHotel;Persist Security Info=True;User ID=sa;Password=Pal@1010"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>